# dependencies
node_modules/

# production build
build/
dist/

# local environment files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
Thumbs.db
notes.md
previous animation.mp4
source project github repo


